@font-face{
	src: url(./../fonts/Neon.ttf);
	font-family: title;
}

*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

.global{
	height: 100vh;
	scroll-snap-type: y mandatory;
	overflow-y: scroll;
}

.nav{
	position: fixed;
	width: 100vw;
	height: 120px;
	background-image: linear-gradient(to bottom,rgba(255,255,255,0.5),rgba(255,255,255,0));
	display: flex;
	flex-direction: column;
	z-index: 1;
	align-items: center;
}

.navigation.titles{
	display: flex;
	width: 100vw;
	transition: transform 5s ease-in;
	flex-direction: row;
	flex: 3 0 auto;
}

.navigation.titles div, .navigation.titles a{
	color: black;
	display: flex;
	font-size: 25px;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	transition: transform 50ms linear;
}

.navigation.titles div{
	flex: 1;
}

.navigation.titles a:hover{
	transform: scale(1.5);
	text-shadow: 2px 2px black;
}
.nav .dropdown.image{
	flex: 1;
	justify-content: space-between;
	transition: transform 250ms ease-in;
}
.nav .dropdown.image img{
	height: 20px;
	width: 20px;
}

.landing{
	height: 100vh;
	background-image: linear-gradient(to bottom,#4A51B2,#B550AB);
	scroll-snap-align: start;
	background-color: #4A51B2;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: row;
	overflow: hidden;
	padding: 10px;
}

.landing .name{
	color: white;
	font-family: title;
	font-size: 140px;
}

.landing .short{
	font-size: 20px;
}

.landing .socials{
	display: flex;
	justify-content: space-around;
	flex: 1;
	transition: scale(0);
}

.landing .socials img{
	height: 50px;
	border-radius: 50%;
	object-fit: contain;
	transition: transform 250ms ease-in;
}

.landing .socials img:hover{
	transform: scale(2.0);
	box-shadow: 2px 2px palegreen;
}

.landing .profile.pic img{
	height: 75vh;
	object-fit: contain;
	border-radius: 75%;
}

.wave1{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave1 svg{
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 124px;
}

.wave1 .shape-fill{
    fill: #B550AB;
}

.intro{
	position: relative;
	height: 100vh;
	scroll-snap-align: start;
	background-image: linear-gradient(to bottom,#F65F8F,#FF896F);
}

.find{
	height: 100vh;
	scroll-snap-align: start;
	background-color: #F65F8F;
}